.navbar {
    background: #5d701a;
}

.navbar > .container > .bs-navbar-collapse {
    background: #5d701a;
}

.navbar > .container {
    background: #5d701a;
}

div {
    background: #b6d54c;
}

html > body {
    background: #b6d54c;
}

.container {
    background: #b6d64d;
}

.services-list > div {
    background: ;
}

html > body {
    background-image: url("https://afflift.page/builder/public/images/textures/4.png");
    background-repeat: repeat;
    background: ;
}

.navbar {
    background: ;
}

.navbar {
    background: #5e701b;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    box-shadow: inset 5px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.navbar > .container > .responsive-logo > .navbar-brand {
    background: ;
    color: #ececec;
}

.navbar > .container > .bs-navbar-collapse > .responsive-nav > li > a {
    color: #ececec;
}

.navbar > .container {
    color: #ececec;
}

.navbar > .container > .bs-navbar-collapse {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: Roboto;
}

html > body {
    background: #d5ff3d;
    box-shadow: inset 5px 0px 10px 0px rgba(50, 50, 50, 0.75);
    border-width: 0px 0px 0px 0px;
    text-shadow: inset 5px 0px 10px 0px #000000;
}

undefined